POSTGRES_DB=GMAO
POSTGRES_USER=GMAOUSER
POSTGRES_PASSWORD=GMAOPSWD
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

OPENAI_API_KEY=sk-
VANNA_EMAIL=

# Configuration Langfuse pour le monitoring
LANGFUSE_PUBLIC_KEY=pk-
LANGFUSE_SECRET_KEY=sk-
LANGFUSE_HOST=https://cloud.langfuse.com